<p>Goofy - Our Hero!</p>
<p><%= image_tag("goofy-face2.png", :alt => "goofy_face2.png DisneyClips", :class => "img-fluid") %></p>
<p>Source for the Goofy portrait is: <a href=http://www.disneyclips.com/imagesnewb/images/goofy-face2.png>http://www.disneyclips.com/imagesnewb/images/goofy-face2.png</a></p>
<p>Goofy page is actually located at StaticPages#goofy or static_pages/goofy</p>