<p>routes to this page could be: /StaticPages/help or /static_pages/help</h4>
<p>Some useful links for this exercise:</p>
<br/><a href="http://getbootstrap.com" class="btn btn-success">http://getbootstrap.com</a>
<br/><a href="http://www.w3schools.com/bootstrap/default.asp" class="btn btn-success">http://www.w3schools.com/bootstrap/default.asp</a>

