<p>Welcome to my Curated Bootstrapped ToyApp Demo Site</p>
<p>Here I've combined a number of ideas from the RailsTutorial.org Online Book and created a monster mash-up of their ToyApp and Bootstrap - using my own approaches and curation.</p>
<%= image_tag("shag_car_stickers.jpg", :alt => "stickers by the artist known as Shag", :class => "img-fluid") %>
<p>Somday I think I'll try creating an artist database.  And I'll probably use pictures from Shag.  You can view information about Shag, exhibitions, and more at the website:<a href="http://www.shag.com">http://www.shag.com</a> Oh, and a warning, some people might think that some of Shag's art just might be a bit nsfw; so be warned if you choose to visit that site.</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Route to me using StaticPages#home or static_pages/home</p>
