<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
      <div class="page-header">
      <h2>My Really Great ToyApp (or toy_app) RESTful Adventure</h2>
      </div>
      <nav class="navbar navbar-default">
 

      <ul class="nav navbar-nav">

        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/users">Users</a></li>
        <li role="presentation"><a href="/microposts">Microposts</a></li>
        <li role="presentation"><a href="/static_pages/help">Help</a></li>
        <li role="presentation"><a href="/static_pages/goofy">Goofy</a></li>
      </ul>
      </nav>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
